{% extends 'base.html.twig' %}
{% block title %}{{ programNewName }}{% endblock %}

{% block body %}

    <h1>{{ programNewName }}</h1>
    <ul class="list-group list-group-flush">
        {% for season in seasons %}
            <li class="list-group-item">
                <a href="{{ path('wild_program_season', {'programName':programName, 'seasonNumber':season.number}) }}">Saison {{ season.number }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}